div.box{
    background-color: green;
    padding: 8px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.sticky{
    display: inline-block;
    border: 1px solid white;
    padding: 2px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
