.box{
    width: 400px;
    height: 600px;
    border: 2px solid black;
    position: absolute;
    margin: 50px;
}
.box1{
    width: 100px;
    height: 30px;
    background-color: black;
    right: 0%;
    top: 70px;
    position: absolute;
}
.box2{
    width: 30px;
    height: 600px;
    background-color: blueviolet;
    position: absolute;
    right: 100px;

}
.box3{
    width: 400px;
    height: 30px;
    background-color: blue;
    position: absolute;
    bottom: 70px;
}
.box4{
    height: 30px;
    background-color: yellow;
    position: relative;
    top: 350px;

}